---
import { PARTNER_ONE, PARTNER_TWO, CONTACT_EMAIL } from '../consts';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} {PARTNER_ONE} & {PARTNER_TWO}
	<div class="contact">
		Vragen? Mail naar <a href={`mailto:${CONTACT_EMAIL}`}>{CONTACT_EMAIL}</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.contact {
		margin-top: 0.5em;
	}
	.contact a {
		color: rgb(var(--gray));
		text-decoration: underline;
	}
	.contact a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
